*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 25px 0px;
    background-color: rgb(235, 235, 225);
    display: flex;
    justify-content: center;
}
.wraper{
    display: inline-block;
    background-color: rgb(210, 210, 210);
    padding: 15px 50px;
    border-radius: 5px;
    border: 3px solid rgb(170, 170, 170);
}
main{
    display: flex;
    flex-direction: column;
    gap: 15px
}


/**** **** Question One Style ***** ****/
#form-question-one{
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#input-number-question-one{
    width: 80px;
    height: 45px;
    font-size: 25px;
    border-radius: 5px;
    border: 2px solid rgb(170, 170, 170);
}
#txt-question-one{
    width: 550px;
    height: 450px;
    border-radius: 4px;
    border: 2px solid rgb(170, 170, 170);
}
#btn-question-one{
    width: 80px;
    height: 30px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid rgb(170, 170, 170);
    cursor: pointer;
}
#btn-question-one:hover{
    background-color: rgb(140, 140, 140);
}
/*********** **** END ***** ***********/


/**** **** Question Two Style ***** ****/
.panel{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    border: 3px solid rgb(170, 170, 170);
    min-width: 450px;
}
#form-question-two{
    padding: 15px;
    width: 50%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
#form-question-two h3{
    text-align: center;
    margin-bottom: 12px;
}
#btn-form-question-two{
    height: 27px;
    width: 70%;
    margin: 0 auto;
    min-width: 140px;
    max-width: 180px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid rgb(170, 170, 170);
    cursor: pointer;
}
#btn-form-question-two:hover{
    background-color: rgb(140, 140, 140);
}
#register-data{
    width: 50%;
    padding: 15px;
}
#register-data ul{
    list-style: none;
}
.midle-border{
    position: absolute;
    right: 50%;
    bottom: 0;
    background-color: rgb(170, 170, 170);
    height: calc(100%);
    width:2px;
}
.required{
    color: red;
}
.done{
    color: green;
}
/*********** **** END ***** ***********/